<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Station</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        table {
            /* width: 50%; */
            margin: 10px;
            padding: 2em;
            text-align: center;
        }

        table,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 0.5em;
        }

        .container {
            display: flex;
            justify-content: center;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        main{
          min-height: 80vh;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Duplicate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/station1.ejs">Station 1</a>
                <a class="nav-item nav-link" href="/station2.ejs">Station 2</a>
                <a class="nav-item nav-link" href="/station3.ejs">Station 3</a>
                <a class="nav-item nav-link" href="/station4.ejs">Station 4</a>
                <a class="nav-item nav-link" href="/finalstation.ejs">Final Station</a>
                <a class="nav-item nav-link" href="/newitem.html">Enter Item</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container m-3">
          <table>
            <tr aria-rowspan="4" style="background: azure;">
              <td colspan="5">Final Station</td>
            </tr>
            <tr style="background: lavenderblush;">
              <td>Shall No.</td>
              <td>Plan</td>
              <td>Remark</td>
              <!-- <td>Status</td> -->
              <td>Submit</td>
    
            </tr>
            <% for(var i=0; i<records.length; i++) {%>
              <form action="/finalstation" method="POST" autocomplete="off">
                <% if(records[i].remark=='P1' || records[i].remark=='P2' ){%>
                  <tr style="background-color: mistyrose;">
                    <td>
                      <div class="col">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-white"><i class="fa fa-phone"></i></span>
                            </div>
                            <input name="shallno" id="shallno" type="text" placeholder="shall number"
                              class="form-control border-left-0" value="<%= records[i].shallno %>" readonly>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="col">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-white"><i class="fa fa-phone"></i></span>
                            </div>
                            <input name="plan" type="date" id="plan" placeholder="plan" class="form-control border-left-0"
                              value="<%= records[i].plan %>">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <!-- <%= records[i].remark %> -->
                      <div class="col">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-white"><i class="fa fa-phone"></i></span>
                            </div>
                            <input name="remark" id="remark" type="text" placeholder="no remark"
                              class="form-control border-left-0" value="<%= records[i].remark %>">
                          </div>
                        </div>
                      </div>
                    </td>
                <% } else {%>
                  <tr>
                    <td>
                      <div class="col">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-white"><i class="fa fa-phone"></i></span>
                            </div>
                            <input name="shallno" id="shallno" type="text" placeholder="shall number"
                              class="form-control border-left-0" value="<%= records[i].shallno %>" readonly>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="col">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-white"><i class="fa fa-phone"></i></span>
                            </div>
                            <input name="plan" type="date" id="plan" placeholder="plan" class="form-control border-left-0"
                              value="<%= records[i].plan %>">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <!-- <%= records[i].remark %> -->
                      <div class="col">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-white"><i class="fa fa-phone"></i></span>
                            </div>
                            <input name="remark" id="remark" type="text" placeholder="no remark"
                              class="form-control border-left-0" value="<%= records[i].remark %>">
                          </div>
                        </div>
                      </div>
                    </td>
                  <%}%>
                    <td>
                        <div class="container">
                          <button type="submit" class="btn btn-outline-success" style="margin-bottom: 20px;"
                            name="statoion2">
                            <i class="fa fa-paper-plane"></i>
                            Send
                          </button>
                    </td>
                  </tr>
    
              </form>
              <%} %>
          </table>
        </div>
    
        </div>
        <div class="container">
          <a href="/generatesheet/finalstation">
  
            <button type="submit" class="btn btn-outline-success">Generate sheet</button>          
          </a>
      </div>
      </main>
    <footer class="page-footer font-small blue">

        <!-- Copyright -->

        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="http://beast-adamantt.herokuapp.com/beastadamant"> BEAST ADAMANT</a>
        </div>
        <!-- Copyright -->

    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</html>